html {
    --s: 200px; /* control the size */
    --c: #fff; /* first color */
    
    --_g: #0000 8%,var(--c) 0 17%,#0000 0 58%;
    background: 
      linear-gradient(135deg,#0000 20.5%,var(--c) 0 29.5%,#0000 0) 0 calc(var(--s)/4),
      linear-gradient( 45deg,var(--_g)) calc(var(--s)/2) 0,
      linear-gradient(135deg,var(--_g),var(--c) 0 67%,#0000 0),        
      linear-gradient( 45deg,var(--_g),var(--c) 0 67%,#0000 0 83%,var(--c) 0 92%,#0000 0),
      #1095c1; /* second color */
    background-size: var(--s) var(--s);
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
}

.navbar {
    background-color: #4a90e2;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 20px;
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 16px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: #357ab8;
    border-radius: 4px;
}

.home-icon {
    display: flex;
    align-items: center;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #4a90e2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    z-index: 1000;
    white-space: nowrap;
}

.dropdown-item {
    margin: 0;
}

.dropdown-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-link:hover {
    background-color: #357ab8;
}

.dropdown.open .dropdown-menu {
    display: block;
}

.content {
    width: 90%;
    max-width: 600px;
    text-align: center;
    margin-top: 110px;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.content h1 {
    margin-bottom: 20px;
    color: #4682b4;
}

.hover-a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #add8e6;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hover-a p {
    margin: 0;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    color: white

}

.hover-a:hover {
    transform: scale(1.1);
    background-color: lightcoral;
}

.back-link {
    background-color: #add8e6;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.back-link:hover {
    background-color: #87ceeb;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.footer {
    margin-top: auto;
    background-color: #4a90e2;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    
}

.footer-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}